<div class="container">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'allApplies'}}active{{/ifCond}}" href="/applies">全部申請單</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'done'}}active{{/ifCond}}" href="/applies/done">已完成</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'inProgress'}}active{{/ifCond}}" href="/applies/inProgress">處理中</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'notStarted'}}active{{/ifCond}}" href="/applies/notStarted">未處理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'myApplication'}}active{{/ifCond}}" href="/applies/{{user.id}}">我的申請單</a>
    </li>
  </ul>
</div>