<div class="text-center">
  <h1 class="h3 font-weight-normal mb-3">申請單</h1>
</div>
<div class="container" style="width: 400px;">
  <form class="form-apply" action="/apply" method="POST" enctype="multipart/form-data">
    <div class="form-row mb-3">
      <label class="form-label" for="categoryId">選擇申請項目</label>
      <select class="form-select" id="categoryId" name="categoryId">
        {{#each data}}
        <option value="{{this.id}}">{{this.category}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="description">描述</label>
      <textarea class="form-control" id="description" rows="3" name="description" placeholder="100字內" maxlength="200" required>{{data.description}}</textarea>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="image1">相片1</label>
      <input class="form-control" id="image1" type="file" name="image1" class="form-control-file" placeholder="image1" accept="image/jpeg, image/png, image/gif">
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="image2">相片2</label>
      <input class="form-control" id="image2" type="file" name="image2" class="form-control-file" placeholder="image2" accept="image/jpeg, image/png, image/gif">
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="image3">相片3</label>
      <input class="form-control" id="image3" type="file" name="image3" class="form-control-file" placeholder="image3" accept="image/jpeg, image/png, image/gif">
    </div>
    <div class="row justify-content-center align-items-center">
      <button class="btn btn-primary btn-block" style="width: 150px;" type="submit">送出</button>
    </div>
    <div class="row justify-content-center align-items-center">
      <a href="/home" class="btn btn-dark mt-2" style="width: 150px;">返回上一頁</a>
    </div>
  </form>