<div class="d-flex justify-content-center align-items-center">
  <a href="/apply" 
    class="m-3 btn btn-primary d-flex justify-content-center align-items-center"
    style="border-radius:20%; width:300px; height:300px;">
    <h1>填寫申請單</h1>
  </a>
  <a href="/applies" 
    class="m-3 btn btn-success d-flex justify-content-center align-items-center"
    style="border-radius:20%; width:300px; height:300px;">
    <h1>查詢進度</h1>
  </a> 
  <form class="form-signup" action="/test" method="POST">
    <button type="submit">
      <h1>測試</h1>
    </button>
  </form>
</div>