<div class="text-center">
  <h1 class="h3 font-weight-normal mb-3">登入</h1>
</div>
<div class="container" style="width: 400px;">
  <form class="form-signin" action="/signin" method="POST">
    <div class="form-row mb-3">
      <label class="form-label" for="email">電子信箱</label>
      <input class="form-control" id="email" type="text" name="email" class="form-control" placeholder="Email" required
        autofocus>
    </div>
    <div class="form-row mb-3">
      <label class="form-label" for="password">密碼</label>
      <input class="form-control" id="password" type="password" name="password" class="form-control"
        placeholder="Password" required>
    </div>
    <div class="row justify-content-center align-items-center">
      <button class="btn btn-primary btn-block" style="width: 150px;" type="submit">登入</button>
    </div>
  </form>
  <hr>
</div>
<div class="container" style="width: 400px;">
  <div class="text-center" >
    <button class="border border-2 mb-2 bg-white" style="width: 250px;">
      <a class="text-decoration-none link-dark" href="/auth/google"><img src="../images/google.png" alt="google" style="width: 30px;">使用 Google 登入</a>
    </button>
  </div>
  <div class="text-center">
    <button class="border border-2 mb-2 bg-white" style="width: 250px;">
      <a class="text-decoration-none link-dark" href="/auth/facebook"><img src="../images/FB.png" alt="google"
          style="width: 30px;">使用 Facebook 登入</a>
    </button>
  </div>
  {{!-- <div class="text-center">
    <button class="border border-2 mb-2 bg-white" style="width: 250px;">
      <a class="text-decoration-none link-dark" href="/auth/line"><img src="../images/line.png" alt="google"
          style="width: 30px;">使用 Line 登入</a>
    </button>
  </div> --}}
</div>
<div class="m-3 text-center">
  <a class="btn btn-success btn-block" style="width: 150px;" href="/signup">沒有帳號？註冊</a>
</div>