<div class="text-center">
   <h1 class="h3 font-weight-normal mb-3">註冊</h1>
</div>
<div class="container" style="width: 400px;">
   <form class="form-signup" action="/signup" method="POST">
      <div class="form-row mb-3">
         <label class="form-label" for="name">使用者名稱</label>
         <input class="form-control" id="name" type="text" name="name"  placeholder="Name" value="{{name}}" required
            autofocus>
      </div>
      <div class="form-row mb-3">
         <label class="form-label" for="email">電子信箱</label>
         <input class="form-control" id="email" type="text" name="email"  placeholder="Email" value="{{email}}" required>
      </div>
      <div class="form-row mb-3">
         <label class="form-label" for="password">密碼</label>
         <input class="form-control" id="password" type="password" name="password" placeholder="Password" required>
      </div>
      <div class="form-row mb-3">
         <label class="form-label" for="passwordCheck">確認密碼</label>
         <input class="form-control" id="passwordCheck" type="password" name="passwordCheck" placeholder="Password Check"
            required>
      </div>
      <div class="row justify-content-center align-items-center">
         <button class="btn btn-primary btn-block" style="width: 150px;" type="submit">送出</button>
      </div>
   </form>
</div>
<div class="m-2 text-center">
   <p><a href="/signin">已有帳號！登入</a></p>
</div>